  <!-- event-details-section - start
		================================================== -->
    <section id="event-details-section" class="event-details-section sec-ptb-100  mobile-space clearfix">
        <div class="container">
            <div class="row">
                {{log data}}
                <!-- col - event-details - start -->
                <div class="col-lg-8 col-md-12 col-sm-12" id="downloadTab">

                    <!-- event-details - start -->
                    <div class="event-details mb-15">

                        <div class="event-title mb-30">
                            <!-- <span class="tag-item">
									<i class="fas fa-bookmark"></i>
									Featured Event
								</span> -->
                            <h2 class="event-title">{{data.event.title}} - {{data.event.startMonth}} {{data.event.startYear}} -
                                {{data.event.venue.city}}, {{data.event.venue.state}}
                            </h2>
                        </div>

                        <div id="event-details-carousel" class="event-details-carousel owl-carousel owl-theme">
                            {{#each data.event.images}}
                                <div class="item">
                                    <img src="{{this}}" alt="Image_not_found">
                                </div>
                            {{/each}}
                        </div>

                        <div class="event-info-list ul-li clearfix mb-30">
                            <ul class="ht-100">
                                <li class="ht-100">
                                    <span class="icon">
											<i class="far fa-calendar"></i>
										</span>
                                    <div class="event-content">
                                        <small class="event-title">Event Date</small>
                                        <h3 class="event-date">{{data.event.startDay}} {{data.event.startMonth}} {{data.event.startYear}}</h3>
                                    </div>
                                </li>
                                <li class="ht-100">
                                    <span class="icon">
											<i class="far fa-clock"></i>
										</span>
                                    <div class="event-content">
                                        <small class="event-title">Event Time</small>
                                        <h3 class="event-date">{{data.event.start_time}} ~ {{data.event.end_time}}</h3>
                                    </div>
                                </li>
                                <li class="ht-100">
                                    <span class="icon">
											<i class="fas fa-map-marker-alt"></i>
										</span>
                                    <div class="event-content">
                                        <small class="event-title">Event Location</small>
                                        <h3 class="event-date">
                                            {{data.event.venue.name}}
                                        </h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="content-events">{{{data.event.description}}}</div>
                        <hr>

                        
                    </div>
                    <!-- event-details - end -->

                </div>
                <!-- col - event-details - end -->

                <!-- sidebar-section - start -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="sidebar-section">
                <div class="row">
                    {{!-- <div class="col-md-6"> --}}
                        {{!-- TODO --}}
                        <!-- Add to Calendar - start -->
                        {{!-- <div title="Add to Calendar" class="addeventatc">
                            Add to Calendar
                            <span class="start">09/12/2020 09:30 AM</span>
                            <span class="end">09/12/2020 04:30 PM</span>
                            <span class="timezone">America/Toronto</span>
                            <span class="title">MEGA JOB FAIR EVENT - FALL 2020- BRAMPTON, ON</span>
                            <span class="description">MEGA JOB FAIR EVENT - FALL 2020- BRAMPTON, ON</span>
                            <span class="location">PEARSON CONVENTION CENTER</span>
                            <span class="organizer">Organizer</span>
                            <span class="organizer_email">nav@thetruckingnetwork.ca</span>
                            <span class="all_day_event">false</span>
                            <span class="date_format">MM/DD/YYYY</span>
                        </div> --}}
                    {{!-- </div> --}}
                        <div class="col-md-7 share-events shareall">
                            <a href=""  data-toggle="dropdown">
                            <i class="fa fa-share-alt" aria-hidden="true"></i> Share this event
                            </a>

                              {{!-- <a href="" class="post-share" data-toggle="dropdown">
                                <img src="/assets/images/share.png" alt="Share">
                            </a> --}}
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="http://www.facebook.com/sharer.php?u={{data.host}}/event/{{data.event._id}}" target="_blank">
                                    <i class="fab fa-facebook" aria-hidden="true"></i> Facebook
                                </a>
                                <a href="http://www.twitter.com/share?url={{data.host}}/event/{{data.event._id}}" target="_blank">
                                    <i class="fab fa-twitter" aria-hidden="true"></i> Share on Twitter
                                </a>
                                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{data.host}}/event/{{data.event._id}}" target="_blank">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i> Share on LinkedIn
                                </a>
                                <a href="mailto:?subject={{data.event.title}}&body={{data.host}}/event/{{data.event._id}}">
                                    <i class="far fa-envelope" aria-hidden="true"></i> Email
                                </a>
                                <a href="#" id="elementToPrint">
                                    <i class="fa fa-download" aria-hidden="true"></i> Download
                                </a>
                            </div>

                        </div>
                        </div>
                        <!-- Add to Calendar - end -->

                        <!-- map-wrapper - start -->
                        <div class="map-wrapper mb-30">
                            <div>
                                {{!-- <div id="googleMaps" class="google-map-container"></div> --}}
                                {{#if data.event.link.map}}
                                    <iframe src="{{data.event.link.map}}" width="330" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                {{else}}
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41286486.523978256!2d-130.10739124610546!3d50.83251317874202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sin!4v1591885029938!5m2!1sen!2sin" width="330" height="300"     frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                {{/if}}
                            </div>

                        </div>
                        <!-- map-wrapper - end -->

                        <!-- location-wrapper - start -->
                        <div class="location-wrapper mb-30">
                            <div class="title-wrapper">
                                <span class="icon">
										<i class="fas fa-map-marker-alt"></i>
									</span>
                                <div class="title-content">
                                    <small>Event Location</small>
                                    <h3>{{data.event.venue.name}}</h3>
                                </div>
                            </div>
                            <div class="location-info-list ul-li-block clearfix">
                                <ul>
                                    <li><i class="fas fa-arrow-circle-right"></i> {{data.event.venue.streetAddress}}</li>
                                    {{!-- <li><i class="fas fa-arrow-circle-right"></i> Brampton, ON L6T 4L7, CA --}}
                                    </li>
                                </ul>
                            </div>
                            <div class="button">
                                <a href="https://www.thetruckingnetworkevents.ca/uploads/files/floorplan2%20Sept%2012%202020.pdf" class="button-red disp-flow-root width-215" target="_blank">Floor Plan</a>
                                <!-- <a href="https://www.thetruckingnetworkevents.ca/uploads/files/floorplan2%20Sept%2012%202020.pdf" class="button-red disp-flow-root" target="_blank">Book Now</a> -->
                            </div>
                            {{!-- <div>
                                <p style="color: #c83639; margin-left: 33%;">Coming Soon</p>
                            </div> --}}
                            <div class="button">
                                <a href="/register" class="button-red disp-flow-root width-215" target="_blank">Register Now</a>
                            </div>
                            {{!-- TODO --}}
                            {{#if data.isUser }}
                                {{#equalsTo data.user.role_type 'EXHIBITOR'}}
                                    {{!-- <div class="button">
                                        <a href="/event/{{data.event._id}}/plans" class="button-red disp-flow-root width-215">Secure Your Booth Space</a>
                                    </div> --}}
                                {{/equalsTo}}
                                {{#equalsTo data.user.role_type 'JOBSEEKER'}}
                                    {{!-- <div class="button">
                                        <a href="#" class="button-red disp-flow-root width-215" id="interested-attend" data-event="{{data.event.._id}}">I Am Interested To Attend</a>
                                    </div> --}}
                                {{/equalsTo}}
                            {{else}}
                                {{!-- <div class="button">
                                    <a href="/event/{{data.event._id}}/plans" class="button-red disp-flow-root width-215">Secure Your Booth Space</a>
                                </div>
                                <div class="button">
                                    <a href="#" class="button-red disp-flow-root width-215" id="interested-attend" data-event="{{data.event._id}}">I Am Interested To Attend</a>
                                </div> --}}
                            {{/if}}
                            <div class="title-wrapper absolute">
                                <span class="icon">
										<i class="fas fa-link"></i>
									</span>
                                <div class="organized">
                                    <small>Organized By</small>
                                    <a href="#" class="logo mt-3">
                                        <img src="/assets/images/ttn-logo.png" alt="The Trucking Network" style="max-width: 150px;">
                                    </a>

                                </div>
                            </div>
                            <div class="contact-links ul-li-block clearfix">
                                <p class="black-color mb-15">
                                    Contact us: <strong style="float:right">{{data.event.organizer.contact_no}}</strong>
                                </p>
                                <p class="black-color mb-15">
                                    Toll Free: <strong style="float:right">{{data.event.organizer.toll_free_no}}</strong>
                                </p>
                                <p class="black-color mb-15">
                                    Email: <a href="mailto:{{data.event.organizer.email}}" target="_blank" style="float: right">
											{{data.event.organizer.email}}
										</a>
                                </p>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/Thetruckingnetwork-807929299555343/?modal=admin_todo_tour" target="_blank">
                                            <span class="icon">
													<i class="fab fa-facebook-f"></i>
												</span> thetruckingnetwork
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ttndailytweets" target="_blank">
                                            <span class="icon">
													<i class="fab fa-twitter"></i>
												</span> ttndailytweets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/the-trucking-network/" target="_blank">
                                            <span class="icon">
													<i class="fab fa-linkedin"></i>
												</span> the-trucking-network
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/ttndailyinstg/" target="_blank">
                                            <span class="icon">
													<i class="fab fa-instagram"></i>
												</span> ttndailyinstg
                                        </a>
                                    </li>
                                </ul>
                                {{!-- TODO --}}
                                {{!-- <a href="/#" class="button-red disp-flow-root width-215">ENQUIRY</a> --}}
                            </div>
                        </div>
                        <!-- location-wrapper - end -->
                    </div>
                </div>
                <!-- sidebar-section - end -->

            </div>
        </div>
    </section>
    <!-- event-details-section - end
		================================================== -->

        <script>

    // print HTML as pdf
    document.getElementById('elementToPrint').addEventListener("click", convertHTMLtoPDF);
    function convertHTMLtoPDF() {
        printJS({
            printable: 'downloadTab',
            type: 'html',
            documentTitle: '{{data.event.title}}',
            css: [
                'http://dev.neuproelectro.com/assets/css/custom.css',
                'http://dev.neuproelectro.com/assets/css/style.css',
                'http://dev.neuproelectro.com/assets/css/bootstrap.min.css'
            ]
        });
    }

</script>