<!-- slide-section - start
		================================================== -->
<section id="main-carousel2" class="main-carousel2 clearfix">
    {{#each data.eventList.items }}
    {{#unless ad}}
    <div class="item" style="background-image: url(assets/images/slider/slider-bg1.jpg);">
        <div class="overlay-black">
            <div class="container">
                <div class="col-lg-10 divider">

                    <!-- slider-content - start -->
                    <div class="slider-content">
                        <div class="row">
                            <div class="col-md-7 text-center slider-left-content">
                                <strong class="slider-head"><span>Mega</span> Job Fair</strong>
                                <h2>Jobs for Trucking Professionals</h2>
                            </div>
                            <div class="col-md-5 text-center ">
                                <span class=" date ">{{startMonth}} {{startDay}}, {{startYear}}</span>
                                <span class="time ">@ {{start_time}} - {{end_time}}</span>
                                <h3>
                                    <strong> {{venue.name}} <br/> {{venue.city}}, {{venue.state}}</strong>
                                </h3>
                                {{!-- <h3 class="mb-3">Free Entry and Free Parking</h3> --}}
                                <a href="/event/{{_id}}" class="button-red">More Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- slider-content - end -->
                </div>
            </div>
        </div>
    </div>
    {{/unless}}
    {{/each}}
</section>
<!-- slide-section - end
		================================================== -->

<!-- absolute-eventmake-section - start
		================================================== -->
<div id="absolute-eventmake-section" class="absolute-eventmake-section clearfix">
    <div class="container">
        <div class="row">
            <div class="eventmaking-wrapper">
                <ul class="nav eventmake-tabs">
                    <li class="truck">
                        <a class="active" href="/register">
                            Register Now
                        </a>
                    </li>

                </ul>

                {{!-- <div class="tab-content">
                <div id="register-now" class="collapse">
                    <form action="#">
                        <ul>

                            <li>
                                <input type="text" placeholder="Full Name">
                            </li>
                            <li>
                                <input type="email" placeholder="Email">
                            </li>
                            <li>
                                <input type="text" placeholder="Phone Number">
                            </li>
                            <li>
                                <select class="date-select">
										<option selected="">Role Type</option>
										<option>Exhibitor</option>
										<option>Job Seeker</option>
									</select>
                            </li>

                            <button type="submit" class="button-red register-bt">Register</button>


                        </ul>
                    </form>
                </div>

            </div> --}}
            </div>
        </div>
    </div>
</div>
<!-- absolute-eventmake-section - end
		================================================== -->



<!-- why attend - start ================================================== -->

<section class="why-attend pt-5 pb-3 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>Why <strong> Attend</strong> </h2>
                </div>
                <div class="attend-content">
                    {{!-- <p>
                        We’ve all been living with a fact that networking events are important for our business, career,
                        growth and many other aspects, but many of us still don't attend such type of events. As a
                        trucking company or professional there will be a number of opportunities
                        to attend events being offered to you. We believe that networking is a crucial stepping-stone
                        for both companies & professionals, and can only be of beneficial in lots of different ways.
                    </p> --}}
                    <p>
                    <strong>Open up job options</strong> <br/>TTN Mega Job fair offers you the chance to touch base with dozens of potential employers and top fleets. You can learn what types of jobs they offer and if they have any suitable opening. You may also find some less than obvious job opportunities that would fit your experience. Meeting with recruiters offers you a chance to ask questions and expand your knowledge about a potential employer. </p>
<p>
<strong>Getting a job</strong><br/> This is the main reason why people should attend a mega job fair. It offers you a chance to present yourself to potential employers. If you make a good impression, you may end up with an interview right on the spot. Even if they don't interview you immediately, they will take your resume and get back to you at a later time. The more contacts you make, the more opportunities you will have to land a job.</p>
<p>
<strong>Nothing beats a face to face meeting</strong><br/> Often, job seekers complaining the loudest about job fairs being a waste of time are the same ones making little effort to present themselves in a professional way. Recruiters make the effort to go to job fairs because they are looking to fill positions. A little preparation on your part can go a long way, since you never know whom you may meet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-attend text-center" data-toggle="modal" data-target="#relationships">
                    <img src="assets/images/build-relation.png" alt="">
                    <h3>Build Relationships</h3>
                    {{!-- <div class="content-over">
                            The best part about networking events is that like-minded individuals are all together in an informal environment.
                        </div> --}}
                </div>

                <div class="modal" id="relationships">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>

                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                <img src="assets/images/build-relation.png" alt="">
                                <h3 class="mt-2 mb-2">Build Relationships</h3>
                                The best part about networking events is that like-minded individuals are all together
                                in an informal environment.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-attend text-center" data-toggle="modal" data-target="#keep-uptodate">
                    <img src="assets/images/keep-update.png" alt="">
                    <h3>To Keep up-to-Date</h3>
                    {{!-- <div class="content-over">
                            When in a room with a number of people from your industry, you are bound to get talking about what has been happening as of lately.
                        </div> --}}
                </div>
                <div class="modal" id="keep-uptodate">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>

                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                <img src="assets/images/keep-update.png" alt="">
                                <h3 class="mt-2 mb-2">To Keep up-to-Date</h3>
                                When in a room with a number of people from your industry, you are bound to get talking
                                about what has been happening as of lately.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-attend text-center" data-toggle="modal" data-target="#new-ideas">
                    <img src="assets/images/new-idea.png" alt="">
                    <h3>To Benefit From New Ideas</h3>
                    {{!-- <div class="content-over">
                            Generally speaking, hearing the ideas of those who have been very successful is a wonderful opportunity to learn.
                        </div> --}}
                </div>

                <div class="modal" id="new-ideas">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>

                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                <img src="assets/images/new-idea.png" alt="">
                                <h3 class="mt-2 mb-2">To Benefit From New Ideas</h3>
                                Generally speaking, hearing the ideas of those who have been very successful is a
                                wonderful opportunity to learn.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- why attend - end ================================================== -->

{{!-- virtual event section --}}
<!-- event-section - start
		================================================== -->
<section id="virtual-event-section" class="event-section pt-4 pb-2 clearfix">
    <div class="container">
        <div class="mb-15 mt-3">
            <div class="row">
                <!-- section-title - start -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-title text-left">
                        <h2 class="big-title">Virtual <strong> Events</strong> </h2>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="section-title text-left">
                        {{!-- TODO --}}
                        <a href="#more-virtual-events" class="post-events know-virtual know-text">Know more about
                            virtual events
                            >></a>
                    </div>
                    <div id="more-virtual-events"
                        class="reglog-modal-wrapper width1000 register-modal mfp-hide clearfix">
                        <div class="overlay-black clearfix">
                            <!-- rightside-content - start -->
                            <div class="rightside-content text-center login-section">
                                <div class="mb-15">
                                    <div class="know-tab-menu clearfix">
                                        <ul class="nav">
                                            <li><a data-toggle="tab" href="#jobfair-text" class="active">Virtual Job
                                                    Fair</a></li>
                                            <li><a data-toggle="tab" href="#webinar-text">Webinar</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="jobfair-text" class="scroller text-left tab-pane fade in active show">
                                            <h3 class="mt-4 mb-4">Virtual Job Fair</h3>
                                            <p>A virtual job fair, or online job fair, is an online "event" that takes
                                                place at a certain time on a specific channel. During the session, which
                                                works similarly to how webinars are structured
                                            </p>
                                            <p class="text-left">Recruiters and job seekers meet in a virtual space via
                                                chat rooms, teleconferencing, webcasts, and/or email to exchange
                                                information about job postings.</p>
                                            <h5> Do Virtual Job Fairs Work?</h5>
                                            <p>
                                                The format of an online career fair can be as diverse as the candidates
                                                you wish to reach. Many recruiting technology companies offer hosting
                                                platforms for webinars and chats, and these can be used for an
                                                event-specific hosted job fair. You can also set it up via any webinar
                                                platform that allows you to present to a group of registered attendees.
                                                Using the presentation model, you can then have recruiters “manning your
                                                booth” (chat) online, answer candidate questions for a general audience,
                                                but also move the conversations into another channel for a one-on-one
                                                virtual interview.</p>

                                            <h5>Key benefits of virtual career fairs</h5>
                                            <ul>
                                                <li>Easy access,</li>
                                                <li>Cost savings. ...</li>
                                                <li>Time Savings. ...</li>
                                                <li>More connections. ...</li>
                                                <li>Easily track ROI. ...</li>
                                                <li>Improved recruitment marketing. ...</li>
                                                <li>Meet your next hires virtually.</li>
                                                <li>No weather restrictions</li>
                                                <li>Maintaining COVID guidelines -physical distance</li>
                                            </ul>
                                            <p>
                                                Virtual career fairs play a key role in helping companies ace staffing
                                                without compromising on talent quality, cost or hiring targets. With
                                                traditional fairs known to be a hub for recurring challenges e.g.:</p>
                                            <ul>
                                                <li>Bringing together job seekers and attractive employers under one
                                                    physical roof.</li>
                                                <li>Low attendance volume due to the inability of guests and exhibitors
                                                    to participate from across the country.</li>
                                                <li>Inefficient talent acquisition due to manual resume
                                                    sorting/shortlisting performed by hiring managers.</li>
                                                <li>Difficulty in marketing and attracting qualified prospects to the
                                                    career fair.</li>
                                                <li>No measurable results and real-time insights to determine event ROI.
                                                </li>
                                            </ul>
                                            <p>Our very <span class="redtxt">1st Virtual Job Fair Event</span> on July
                                                8,2020 was completed successfully. </p>
                                            <p> Next Virtual Job Fair date is scheduled for <span class="redtxt">August
                                                    8,2020</span>.</p>
                                        </div>
                                        <div id="webinar-text" class="scroller text-left tab-pane fade">
                                            <h3 class="mt-4 mb-4">Webinar</h3>
                                            <p>A webinar (a combination of the words “web” and “seminar”) is a video
                                                workshop, lecture, or presentation hosted online using webinar software.
                                            </p>
                                            <h5>What is a webinar and how does it work?</h5>
                                            <p>A webinar Often business-related, these sessions can be used to share
                                                knowledge, ideas, and updates with people around the world. Webinars can
                                                also be leveraged to build and nurture relationships, build authority
                                                around a brand, or demonstrate a product.</p>

                                            <h5>What is the purpose of a webinar?</h5>
                                            <p>
                                                From internal training to capturing leads, marketers from industries
                                                across the board use webinars for all kinds of purposes.</p>
                                            <h5>What features can a webinar have?</h5>
                                            <p>
                                                The purpose of a webinar is up to the host, but the options to choose
                                                from are on a wide spectrum. This means that the tools you use to launch
                                                your webinar have to be flexible enough to provide you with features
                                                that will keep your audience engaged, no matter the topic.</p>

                                            <p>Below are some of the features that a majority of webinar tools provide.
                                                Learn how you can take advantage of them while hosting your own webinar.
                                            </p>

                                            <h5>Text chat</h5>
                                            <p>
                                                Engaging an audience big or small can be done in a few different ways,
                                                but one of the most simple methods is by enabling text chat.</p>
                                            <p>
                                                Doing this allows your audience to ask questions related or answer
                                                questions that you prompt. Without being in the same room, it’s
                                                difficult to grab a presenter’s attention with a question or an answer,
                                                but text chat in webinar tools makes it possible.</p>
                                            <p>
                                                And, just like your question being addressed in a traditional meeting,
                                                answering questions that your audience has builds trust and authority.
                                            </p>

                                            <h5>Slide decks</h5>
                                            <p>
                                                Making an engaging webinar can be difficult. If your webinar is
                                                educational in one way or another, consider having a slide deck handy to
                                                present to your audience as you talk through it.</p>

                                            <p>Having a slide deck also allows you to provide a clear agenda for your
                                                viewers, encourage engagement, and give the audience something to walk
                                                away with.</p>

                                            <h5>Recording</h5>
                                            <p>Traditionally, webinars run live so that the audience can ask the
                                                presenter questions and get answers in real-time.</p>

                                            <p>Although watching a pre-recorded webinar becomes less engaging, the
                                                information being presented or discussed can be viewed by those who
                                                missed the live version, can be referred to later by your audience, or
                                                recorded with a guest who is unable to make the scheduled time. They can
                                                also be held more than once if you have an evergreen topic.</p>

                                            <h5>Screen sharing</h5>
                                            <p>
                                                If your topic requires a demonstration, screen sharing features in
                                                webinar tools will come in handy. Viewers will be able to see exactly
                                                what actions you’re taking on your screen and follow along on their own
                                                if needed.</p>

                                            <p>
                                                Screen sharing can be useful beyond demos, too. If you’re sharing a
                                                video or presentation in a non-traditional way, screen sharing is a way
                                                to show your audience what you’re seeing.</p>

                                            <p>
                                                Additionally, if you’re demonstrating more than one process or using
                                                more than one tool or file, screen sharing is often more effective than
                                                screenshots for viewers.</p>

                                            <h5>Whiteboard</h5>
                                            <p>
                                                If you’re explaining a complex topic and want to do it live, using a
                                                whiteboard feature enables you and other hosts to take notes, illustrate
                                                ideas with drawings, or draw arrows to demonstrate a process.</p>
                                            <p>
                                                Just like you’d be able to do in a classroom, the whiteboard feature
                                                that some webinar software provides allows your audience to feel like
                                                they’re right there with you and gives them a clearer idea of your
                                                subject.</p>

                                            <h5>Surveys and polls</h5>
                                            <p>Having your audience answer a question in text chat can become a little
                                                chaotic, especially when your audience is on the larger end of the
                                                scale.</p>
                                            <p>Providing polls during your webinar allows you to give set options for
                                                your audience to choose, and it keeps your results organized in one
                                                place. Polls and surveys give your audience an easy way to engage with
                                                your presentation and questions in a quick and orderly manner.</p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- rightside-content - end -->



                            <a class="popup-modal-dismiss" href="#!">
                                <i class="fas fa-times"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- section-title - end -->

                <!-- event-tab-menu - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="event-tab-menu clearfix">
                        <ul class="nav">
                            {{#each data.offlineEventCategories}}
                            <li>
                                <a data-toggle="tab" href="#"
                                    class="virtual-event {{#ifCond @index '===' 0}}active show {{/ifCond}}"
                                    data-event={{_id}}>
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
                <!-- event-tab-menu - end -->

            </div>


            <!-- tab-content - start -->
            <div class="tab-content">
                <!-- conference-event - start -->
                <div id="virtual-event" class="tab-pane  fade in active show">
                    <section class="virtual slider">
                        {{#each data.offlineEventList.items }}
                        <div class="slide">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="event-item3 clearfix">
                                        <!-- event-image - start -->
                                        <div class="event-image">
                                            {{!-- <div class="post-date">
                                            <span class="date">{{startDay}}</span>
                                            <small class="month">{{startMonth}}</small>
                                        </div> --}}
                                            {{!-- <a href="#" class="post-share">
                                           
                                        </a> --}}

                                            <div class="dropdown shareall">
                                                <a href="#" class="post-share" data-toggle="dropdown">
                                                    <img src="assets/images/share.png" alt="Share">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="http://www.facebook.com/sharer.php?u={{../data.host}}/virtual-event/{{_id}}"
                                                        target="_blank">
                                                        <i class="fab fa-facebook" aria-hidden="true"></i> Share on
                                                        Facebook
                                                    </a>

                                                    <a href="http://www.twitter.com/share?url={{../data.host}}/virtual-event/{{_id}}"
                                                        target="_blank">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i> Share on
                                                        Twitter
                                                    </a>

                                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{../data.host}}/virtual-event/{{_id}}"
                                                        target="_blank">
                                                        <i class="fab fa-linkedin" aria-hidden="true"></i> Share on
                                                        LinkedIn
                                                    </a>

                                                    <a href="mailto:?subject={{title}}&body={{../data.host}}/virtual-event/{{_id}}"
                                                        target="_blank">
                                                        <i class="far fa-envelope" aria-hidden="true"></i> Email
                                                    </a>


                                                </div>
                                            </div>
                                            {{#if banner}}
                                            <a href="/virtual-event/{{_id}}" data-event="{{_id}}" target="_blank">
                                                <img src="{{banner}}" alt="Image_not_found">
                                            </a>
                                            {{else}}
                                            <img src="/assets/images/upcoming-img.jpg" alt="Image_not_found">
                                            {{/if}}

                                        </div>
                                        <!-- event-image - end -->
                                        <!-- event-content - start -->
                                        <div class="event-content">
                                            <div class="event-title mb-15">
                                                <h3 class="title">
                                                    <a href="/virtual-event/{{_id}}" data-event="{{_id}}"
                                                        target="_blank">
                                                        {{title}}
                                                    </a>
                                                </h3>
                                                {{!-- <span class="ticket-price greycolor">{{short_description}}</span> --}}
                                            </div>
                                            <div class="event-post-meta ul-li-block mb-15">
                                                <ul>
                                                    <li><a href="/virtual-event/{{_id}}" data-event="{{_id}}"
                                                            target="_blank">
                                                            <span class="icon">
                                                                <i class="far fa-clock"></i>
                                                            </span>
                                                            <span class="date">{{startMonth}} {{startDay}}, </small>
                                                                {{start_time}} to {{end_time}}</span>
                                                        </a>
                                                    </li>
                                                    {{!-- <li>
                                                    <span class="icon">
                                                            <i class="fas fa-map-marker-alt"></i>
                                                        </span> {{venue.name}}
                                                </li> --}}
                                                </ul>
                                            </div>
                                            {{!-- <div class="text-center">
                                            <a href="event/{{_id}}" class="button-red">
                                            Event Details
                                            </a>
                                        </div> --}}
                                        </div>
                                        <!-- event-content - end -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        {{/each}}
                    </section>
                </div>

                {{#ifCond data.offlineEventList.items.length '===' 0}}
                <p>No Event(s) Found</p>
                {{/ifCond}}
            </div>
        </div>
    </div>
    <!-- conference-event - end -->
    </div>
    <!-- tab-content - end -->

    </div>
</section>
<!-- event-section - end
		================================================== -->
{{!-- virtual event section --}}



<!-- event-section - start
		================================================== -->
<section id="event-section" class="event-section pt-3 pb-5 clearfix">
    <div class="container">

        <div class="mb-15">
            <div class="row">

                <!-- section-title - start -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-title text-left">
                        <h2 class="big-title">Upcoming <strong> Events</strong> </h2>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="section-title text-left">
                        <a href="#upcoming-events" class="post-events know-virtual know-text">Know more about upcoming
                            events >></a>
                    </div>
                    <div id="upcoming-events" class="reglog-modal-wrapper width1000 register-modal mfp-hide clearfix">
                        <div class="overlay-black clearfix">
                            <!-- rightside-content - start -->
                            <div class="rightside-content text-center login-section">
                                <div class="mb-15">
                                    <div class="know-tab-menu clearfix">
                                        {{!-- <ul class="nav">
                                        <li ><a data-toggle="tab" href="#jobfair-text" class="active">Upcoming Events</a></li>
                                    </ul> --}}
                                    </div>
                                    <div class="tab-content">
                                        <div id="jobfair-text" class="scroller text-left tab-pane fade in active show">
                                            <h3 class="mt-4 mb-4">Upcoming Events</h3>
                                            <p>To work towards our mission "to help the economy, the trucking industry
                                                and the Job Seekers." The Trucking Network organises Job Fair Events in
                                                different parts of Canada both in person and virtual. We recently
                                                started online virtual job fair events to provide hiring support during
                                                this Pandemic.
                                            </p>

                                        </div>

                                    </div>

                                </div>


                            </div>
                            <!-- rightside-content - end -->



                            <a class="popup-modal-dismiss" href="#!">
                                <i class="fas fa-times"></i>
                            </a>

                        </div>
                    </div>

                </div>
                <!-- section-title - end -->

                <!-- event-tab-menu - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="event-tab-menu clearfix" id="online-event">
                        <ul class="nav">
                            {{#each data.eventCategories}}
                            <li>
                                <a data-toggle="tab" href="#"
                                    class="online-event {{#ifCond @index '===' 0}}active show {{/ifCond}}"
                                    data-event={{_id}}>
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
                <!-- event-tab-menu - end -->

            </div>
        </div>

        <!-- tab-content - start -->
        <div class="tab-content">
            <!-- conference-event - start -->
            <div id="ttn-event" class="tab-pane  fade in active show">
                <div class="row">
                    {{#each data.eventList.items }}
                    {{#if ad}}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event-item2 clearfix text-center no-shadow">
                            <img src="assets/images/ad-img.jpg" alt="Image_not_found">
                        </div>
                    </div>
                    {{else}}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event-item2 clearfix">
                            <!-- event-image - start -->
                            <div class="dropdown shareall">
                                <a href="#" class="post-share" data-toggle="dropdown">
                                    <img src="assets/images/share.png" alt="Share">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="http://www.facebook.com/sharer.php?u={{../data.host}}/event/{{_id}}"
                                        target="_blank">
                                        <i class="fab fa-facebook" aria-hidden="true"></i> Share on Facebook
                                    </a>

                                    <a href="http://www.twitter.com/share?url={{../data.host}}/event/{{_id}}"
                                        target="_blank">
                                        <i class="fab fa-twitter" aria-hidden="true"></i> Share on Twitter
                                    </a>

                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{../data.host}}/event/{{_id}}"
                                        target="_blank">
                                        <i class="fab fa-linkedin" aria-hidden="true"></i> Share on LinkedIn
                                    </a>

                                    <a href="mailto:?subject={{title}}&body={{../data.host}}/event/{{_id}}"
                                        target="_blank">
                                        <i class="far fa-envelope" aria-hidden="true"></i> Email
                                    </a>

                                </div>
                            </div>
                            <div class="event-image">
                                <div class="post-date">
                                    <span class="date">{{startDay}}</span>
                                    <small class="month">{{startMonth}}</small>
                                </div>
                                {{!-- <a href="#" class="post-share">
                                           
                                        </a> --}}


                                <img src="assets/images/upcoming-img.jpg" alt="Image_not_found">
                            </div>

                            <!-- event-image - end -->
                            <!-- event-content - start -->
                            <div class="event-content">
                                <div class="event-title mb-15">
                                    <h3 class="title">
                                        {{title}} - </br>
                                        {{startMonth}} {{startYear}} - {{venue.city}},{{venue.state}}
                                    </h3>
                                    <span class="ticket-price greycolor">{{short_description}}</span>
                                </div>
                                <div class="event-post-meta ul-li-block mb-15">
                                    <ul>
                                        <li style="font-size: 14px;">
                                            <span class="icon">
                                                <i class="far fa-clock"></i>
                                            </span> {{start_time}} to {{end_time}}
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span> {{venue.name}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <a href="event/{{_id}}" class="button-red" target="_blank">
                                        Event Details
                                    </a>
                                </div>
                            </div>
                            <!-- event-content - end -->
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{#ifCond data.eventList.items.length '===' 0}}
                    <p>No Event(s) Found</p>
                    {{/ifCond}}
                </div>
            </div>
            <!-- conference-event - end -->
            <div class="col-lg-12 col-md-12 col-sm-12 event-pagination">
                {{#ifCond data.eventList.noOfPages '>' 1}}
                <div class="pagination ul-li clearfix">
                    <ul>
                        <li class="page-item prev-item">
                            <a class="page-link" href="#" data-page="1">Prev</a>
                        </li>
                        {{#times data.eventList.noOfPages}}
                        <li class="page-item curr-item {{#ifCond this '===' 1}}active{{/ifCond}}" data-page={{this}}><a
                                class="page-link" href="#">{{this}}</a></li>
                        {{/times}}
                        <li class="page-item next-item">
                            <a class="page-link" href="#" data-page="{{data.eventList.noOfPages}}">Next</a>
                        </li>
                    </ul>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <!-- tab-content - end -->

    </div>
</section>
<!-- event-section - end
		================================================== -->