<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Offline Event List </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/offline-add-event">Create Offline Event</a></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><b>Sl. No</b></th>
                  <th><b>Name</b></th>
                  <th><b>Date</b></th>
                  <th><b>Venue</b></th>
                  <th><b>Status</b></th>
                  <th><b>Action</b></th>
                </tr>
              </thead>
              <tbody>
                {{#each events}}
                <tr>
                  <td>{{_id}}</td>
                  <td>{{title}}</td>
                  <td>{{start_date}}</td>
                  <td>{{venue.name}}</td>
                  <td>{{is_active}}</td>

                  <td>
                    <a href="#">
                      <div class="preview offline-delete" data-event="{{_id}}"> 
                        <i class="icon-trash"></i>
                      </div>
                    </a>
                    <a href="offline-all-events/{{_id}}">
                      <div class="preview"> <i class="icon-pencil"></i> </div>
                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>