<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Create New Offline Event </h3>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form class="forms-sample">
              {{log eventData}}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Event Title</label>
                    <div class="col-sm-10">
                      <input type="text" name="title" id="title" class="form-control" placeholder="Event Title" value="{{eventData.title}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Event category</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <select class="js-example-basic-multiple" name="event_category[]" id="event_category" multiple="multiple"
                          style="width:100%">
                          {{#each eventCategories}}
                          <option value="{{_id}}" {{#ifIn _id ../eventData.event_category }}selected{{/ifIn}}>{{name}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-10">
                      <input type="date" name="start_date" id="start_date" class="form-control" placeholder="Start Date" value="{{eventData.startDay}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">End Date</label>
                    <div class="col-sm-10">
                      <input type="date" name="end_date" id="end_date" class="form-control" placeholder="End Date" value="{{eventData.endDay}}">
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Start Time</label>
                    <div class="col-sm-10">
                      <input type="time" name="start_time" id="start_time" class="form-control" placeholder="Start Time" value="{{eventData.start_time}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">End Time</label>
                    <div class="col-sm-10">
                      <input type="time" name="end_time" id="end_time" class="form-control" placeholder="End Time" value="{{eventData.end_time}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control desc" name="description" id="description">{{eventData.description}}</textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Organizer Email</label>
                    <div class="col-sm-10">
                      <input type="text" name="organizer[email]" id="organizer_email" class="form-control" placeholder="Organizer Email" value="{{eventData.organizer.email}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Contact Number</label>
                    <div class="col-sm-10">
                      <input type="text" name="organizer[contact_no]" id="organizer_contact_no" class="form-control" placeholder="Contact Number" value="{{eventData.organizer.contact_no}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Facebook Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="link[facebook]" id="link_facebook" class="form-control" placeholder="Facebook Link" value="{{eventData.link.facebook}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Twitter Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="link[twitter]" id="link_twitter" class="form-control" placeholder="Twitter Link" value="{{eventData.link.twitter}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Youtube Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="link[youtube]" id="link_youtube" class="form-control" placeholder="Youtube Link" value="{{eventData.link.youtube}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Linkedln Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="link[linkedln]" id="link_linkedln" class="form-control" placeholder="Linkedln Link" value="{{eventData.link.linkedln}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Instagram Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="link[instagram]" id="link_instagram" class="form-control" placeholder="Instagram Link" value="{{eventData.link.instagram}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Zoom Link</label>
                    <div class="col-sm-10">
                      <input type="text" name="zoom_link" id="zoom_link" class="form-control" placeholder="Zoom Link" value="{{eventData.zoom_link}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Banner</label>
                    <input type="file" name="banner" id="banner">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Active</label>
                    <div class="col-sm-10">
                      <div class="form-check form-check-primary">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input is_active" name="is_active" {{#ifCond eventData.is_active '===' true}}checked{{/ifCond}}> Yes </label>
                      </div>
                      <div class="form-check form-check-danger">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input is_active" name="is_active" {{#ifCond eventData.is_active '===' false}}checked{{/ifCond}}> No </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <button class="btn btn-primary mr-2" id="online-update-event" data-event="{{eventData._id}}">Update</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- content-wrapper ends -->